<div class="container">
  <div class="table-container">
    <caption>
      List&nbsp;of&nbsp;Employees
    </caption>
    <table class="table caption-top table-borderless">
      <thead>
        <tr class="border-bottom">
          <th><span class="ml-1">Id</span></th>
          <th><span class="ml-3">First&nbsp;Name</span></th>
          <th><span class="ml-3">Last&nbsp;Name</span></th>
          <th><span class="ml-3">Salary</span></th>
          <th><span class="ml-2">State</span></th>
          <th><span class="ml-3">Country</span></th>
          <th><span class="ml-1">Edit</span></th>
          <th><span class="ml-1">Remove</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; trackBy: employeeTracker">
          <th>
            <span class="ml-1">{{ employee.id }}</span>
          </th>
          <td>
            <span class="ml-3">{{ employee.firstName }}</span>
          </td>
          <td>
            <span class="ml-3">{{ employee.lastName }}</span>
          </td>
          <td>
            <span class="ml-3">{{ employee.salary }}</span>
          </td>
          <td>
            <span class="ml-2">{{ employee.state }}</span>
          </td>
          <td>
            <span class="ml-3">{{ employee.country }}</span>
          </td>
          <td style="text-align: center">
            <span class="ml-1">
              <a (click)="editEmployee(employee)"
                ><i class="bi bi-pencil-square"></i
              ></a>
            </span>
          </td>
          <td style="text-align: center">
            <span class="ml-1">
              <a (click)="deleteEmployee(employee.id)"
                ><i id="deleteEmployeeIcon" class="bi bi-person-x"></i
              ></a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
